@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column justify-content-center align-items-center mt-5">
@if(Context.Session.GetString("UserName")== null)
{
    <h1></h1>
}
else{

    <h1 class="display-4">Welcome <span class="text-primary">@Context.Session.GetString("UserName")</span>!</h1>
}
    <form asp-action="Login">
        <h3>Please enter your name:</h3>
        <label for="UserName"></label>
        <div class="d-flex flex-column justify-content-center">
            <input class="mb-3" type="text" name="UserName" placeholder="...">
            <input class="btn border text-light" type="submit" value="Submit">
        </div>
    </form>

</div>
