@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <h1 class="mt-5 mb-3">@ViewData["Title"]</h1>
    
    <p>You must login on the Home page to view the Dashboard.</p>
    <p>Please click the "Home" button at the top of the page.</p>
</div>
